body{
    padding: 0;
    margin: 0;
}
.--header {
    background-color: #FFBF69; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    height: 10vh;
}
.--judul {
    padding-left: 50px; 
    padding-right: 50px; 
    align-self: center;
    font-weight: bold;
}
.--judul:hover{
    color: red;
}
ul{
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li {
    padding-left: 20px; padding-right: 20px;
}
li:hover{
    color: aliceblue;
    
}
.--container{
    display: flex;
    background-image:url(asset/background.png);
    background-size: cover;
    height: 90vh;
    background-position:center;
}
.--right-container{
    flex: 1;
    padding-left: 40px; 
    padding-right: 20px; 
    align-self: center !important;
}
.--left-container{
    flex: 1;
}
h1 {
    font-size: 50;
}
.--text-judul {
    font-size: 100px;
    color: white;
    font-weight: bold;
}
.--btn-head-container{
    background-color: #ecd0ab;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}
.--btn-head-container:hover {
    background-color: #753aff;
    color: white;
}
.--section-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self:center ;
    padding: 50px 0px;
}
.--header-conten{
    color: black;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}
.--section-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self:center ;
    background-color: aquamarine;
    padding: 20px 0px;
}
.--content-section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}
.content-image {
    padding: 10px;
    font-weight: 600;
}
img{
    height: 100px;
    width: 100px;
}
div button {
    background-color: #FFBF69;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    font-weight: 600;
}

.--section-3 {
    display: flex;
    background-image:url(asset/bg-grid.png);
    padding: 50px;
    background-size: cover;
    background-position:center;
}
.content-section-3{
    flex: 2;
    align-self: center;
}
.--content-section-2 button:hover {
    background-color: aqua;
    color: white;
}
.image{
    flex: 1;
    height: 100%;
    border-radius: 8px;
}
.--footer{
    background-color: dimgray;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    color: azure;
}
.--conten3 {
    padding: 15px 0px;
}
.--footer-title {
    font-weight: 700;
}
.--footer-title:hover {
    font-weight: bold;
}
.content {
    font-weight: 100;
}
  .nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    color: black;
    text-align: center;
    align-self: center;
    padding-right: 16px;
  }
  div#nav-menu.show-menu {
    display: block;
    position: absolute !important;
    top: 62px !important;
    background: wheat;
    width: 93% !important;
    margin: 0px 10px;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: none;
    
}
a:hover{
    text-decoration: dashed;
    font-weight: bold;
    color: aliceblue;
}
@media screen and (max-width: 767px) {
    .--judul {
        padding-left: 30px;
        padding-right: 0px;
        align-self: center;
        font-weight: bold;
    }
    ul {
        padding-left: 0px;
        padding-right: 0px;
        align-self: center;
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
    .--section-3 {
        display: flex;
        background-image: url(asset/bg-grid.png);
        padding: 50px;
        background-size: cover;
        flex-direction: column-reverse;
        background-position: center;
    }
    img {
        height: 100px;
        width: 100%;
    }
    div#nav-menu{
        display: flex;
        position: absolute;
        top: -1000px;
    }    
  }
  @media screen and (min-width: 767px) {
    .nav__toggle {
      display: none;
    }
    div#nav-menu{
        display: flex;
    }
  }
